@import "../../../abstract/mixins.scss";
@import "../../../abstract/variables/colors";
@import "../../../abstract/variables/misc";

.input {
  font-size: $default-font-size - 0.1rem;
  font-family: inherit;
  color: inherit;

  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba($color-white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;

  transition: all 0.4s;

  @include respond(tab-port) {
    width: 90%;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem $color-shadow;
    border-bottom: 3px solid $color-primary-medium;

    &:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &::-webkit-input-placeholder {
    color: $color-gray-dark-1;
  }
}

.label {
  font-size: $default-font-size - 0.4rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.radio-group {
  width: 50%;
  display: inline-block;

  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.radio-label {
  font-size: $default-font-size;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}

.radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid $color-primary-medium;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;

  &::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary-medium;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.radio-input {
  display: none;
}

.radio-input:checked + .radio-label .radio-button::after {
  opacity: 1;
}
