$color-primary-light: #7ed56f;
$color-primary-medium: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light-opaque: #7ed56fcc;
$color-primary-dark-opaque: #28b485cc;

$color-text-dark: #777;
$color-white: #fff;
$color-white-opaque: #fffc;

$color-shadow: #0003;

$color-gray-light-1: #f7f7f7;
