$color-primary-light: #7ed56f;
$color-primary-medium: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light-opaque: #7ed56fcc;
$color-primary-dark-opaque: #28b485cc;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-text-dark: #777;
$color-white: #fff;

$color-shadow: #0003;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #999;
