@import "../../abstract/mixins.scss";
@import "../../abstract/variables/colors";

.section-stories {
  padding: 15rem 0;
  position: relative; //For absolute positioning of the background video

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
