@import "../../abstract/mixins.scss";
@import "../../abstract/variables/colors";
@import "../../abstract/variables/misc";

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem $color-shadow;
  background: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 6rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  & > * {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%) content-box;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all 0.5s;
  }

  &:hover &__image {
    backface-visibility: hidden;
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(0.8);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    text-transform: uppercase;
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;

    opacity: 0;

    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
