@import "../../abstract/mixins.scss";
@import "../../abstract/variables/colors";

.nav {
  border-top: 1px solid $color-gray-dark-1;
  padding-top: 2rem;
  display: inline-block;

  @include respond(tab-port) {
    width: 100;
    text-align: center;
  }
}

.nav__list {
  list-style: none;
}
