@import "../../abstract/mixins.scss";
@import "../../abstract/variables/colors";

.footer {
  background-color: $color-gray-dark-2;
  padding: 10rem;
  font-size: 1.4rem;
  color: $color-gray-light-1;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.logo-box {
  text-align: center;
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.logo {
  width: 15rem;
  height: auto;
}

.copyright {
  border-top: 1px solid $color-gray-dark-1;
  padding-top: 2rem;
  width: 80%;
  float: right;

  @include respond(tab-port) {
    width: 100;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
}
