// @use "./abstract/colors" as color;
@import "./abstract/variables/colors";

@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

@import "./pages/home";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem definition
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
