* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --light-green: #7ed56f;
  --medium-green: #55c57a;
  --dark-green: #28b485;
  --text-color: #777;
  --white: #fff;

  --light-green-opaque: #7ed56fcc;
  --dark-green-opaque: #28b485cc;

  --shadow-color: #0003;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);

  padding: 30px;
}
